* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 14px;
}

window#waybar {
    background: #11111b;
    color: #cdd6f4;
}

#custom-hello {
    background: #89b4fa;
    color: #11111b;
    padding: 0 10px;
    margin: 4px;
    border-radius: 4px;
}

#pulseaudio, #clock, #cpu, #memory, #network, #battery  {
    background-color: #008000; /* Box background color */
    border: 2px solid #88ccff;  /* Box border color and thickness */
    border-radius: 10px;        /* Rounded corners for the box */
    margin: 4px 6px;            /* Spacing around the box (Top/Bottom, Left/Right) */
    padding: 0 10px;            /* Padding inside the box */
}

#custom-openvpn,
#custom-wireguard,
#custom-ghostty,
#custom-firefox {
    margin-left: 10px;  /* Adjust this pixel value to change the spacing size */
    margin-right: 10px; /* Adjust this pixel value to change the spacing size */
}
